<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Suma es: <%= @suma %> </h1>
    <form class="" action='/index' method="post">
      <button type="submit">Sumar</button>
  </body>
</html>
